@import '#/_styles.scss';

.tags-list {
    display  : flex;
    gap      : $gap-8px;
    flex-wrap: wrap;
}

.tag {
    padding      : $padding-8px $padding-16px;
    font-size    : $font-size-16px;
    white-space  : nowrap;
    border-radius: $border-radius-15px;
    color        : $black;
    background   : $grey-0;
    cursor       : pointer;
    user-select  : none;

    &_selected {
        color     : $white;
        background: $grey-80;
    }
}