@import '#/_styles.scss';

.note-card {
    background-color: $white;
    height          : 450px;
    padding         : $padding-16px;
    display         : flex;
    flex-direction  : column;

    &-top {
        display       : flex;
        flex-direction: column;
        gap           : $gap-8px;
    }

    &-bottom {
        display    : flex;
        flex-grow  : 1;
        align-items: flex-end;
    }
}

.buttons {
    display        : flex;
    justify-content: flex-end;
    gap            : $gap-8px;
}

.title {
    font-weight: 500;
    font-size  : 20px;
}

.date {
    display       : flex;
    flex-direction: column;
    gap           : $gap-4px;

    &-item {
        display        : flex;
        justify-content: space-between;
        font-weight    : 500;
        font-size      : 14px;
        gap            : $gap-4px;
    }
}