// variables

$padding-2px : 2px;
$padding-4px : 4px;
$padding-8px : 8px;
$padding-16px: 16px;

$gap-2px : 2px;
$gap-4px : 4px;
$gap-8px : 8px;
$gap-16px: 16px;

$white   : #FFFFFF;
$grey-0  : #D9D9D9;
$grey-80 : #919191;

$font-size-14px: 14px;
$font-size-16px: 16px;
$font-size-18px: 18px;
$font-size-20px: 20px;
$font-size-24px: 24px;

$font-weight-400: 400;
$font-weight-500: 500;

$font-family-arial: Arial,
Helvetica,
sans-serif;

$border-radius-15px: 15px;

$border-2px-grey: 2px solid $grey-80;

$icon-width-30px : 30px;
$icon-height-30px: 30px;