@import '#/_styles.scss';

.note-editor {
    display              : grid;
    grid-template-columns: repeat(2, calc(50% - $gap-4px));
    gap                  : $gap-4px;
    width                : 100%;
    height               : calc(100vh - $tag-title-height);
    padding              : $padding-8px;
}

.src-text-container {
    height  : 100%;
    width   : 100%;
    position: relative;

    .src-text {
        height    : 100%;
        width     : 100%;
        padding   : 10px;
        background: $white;
        resize    : none;
        border    : none;
        outline   : none;
        @include scrollbar;
        scrollbar-color: $grey-80 $white;
    }

    .src-text-length {
        position   : absolute;
        bottom     : 0;
        right      : 0;
        opacity    : .8;
        background : $grey-80;
        color      : $white;
        padding    : $padding-4px;
        font-size  : $font-size-14px;
        user-select: none;

        &:hover {
            opacity: 1;
        }

        &_limit {
            background: $red;
        }
    }
}

.markdown-container {
    padding   : 10px;
    background: $white;
    height    : 100%;
    width     : 100%;
    overflow-y: auto;
    @include scrollbar;
    scrollbar-color: $grey-80 $white;

    .markdown {
        all      : revert;
        word-wrap: break-word;

        * {
            all       : revert;
            margin-top: unset;
        }
    }
}