@import '#/_styles.scss';

.note-card {
    position        : relative;
    background-color: $white;
    height          : 450px;
    padding         : $padding-16px;
    display         : flex;
    flex-direction  : column;

    &-top {
        display       : flex;
        flex-direction: column;
        gap           : $gap-8px;
    }

    &-bottom {
        display       : flex;
        flex-direction: column;
        flex-grow     : 1;
    }
}

.buttons {
    display        : flex;
    justify-content: flex-end;
    gap            : $gap-8px;
}

.title {
    font-weight  : 500;
    font-size    : 20px;
    max-width    : 200px;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.tags-list-container {
    display    : flex;
    flex-grow  : 1;
    align-items: flex-end;
    padding    : $padding-16px 0;
}

.tags-list {
    display  : flex;
    gap      : $gap-8px;
    flex-wrap: wrap;

    &__caption {
        display    : flex;
        align-items: center;
    }

    &__item {
        max-width    : 200px;
        overflow     : hidden;
        text-overflow: ellipsis;
        padding      : $padding-8px $padding-16px;
        font-size    : $font-size-16px;
        white-space  : nowrap;
        border-radius: $border-radius-15px;
        color        : $white;
        background   : $grey-80;
        cursor       : pointer;
        user-select  : none;
    }
}

.date {
    display       : flex;
    flex-direction: column;
    gap           : $gap-4px;

    &-item {
        display        : flex;
        justify-content: space-between;
        font-weight    : 500;
        font-size      : 14px;
        gap            : $gap-4px;
    }
}