@import '#/_styles.scss';

.notes-group {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : $padding-16px;
    background     : $grey-0;
    cursor         : pointer;
}

.text {
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    cursor       : auto;
}

.right-part {
    display    : flex;
    align-items: center;
    gap        : $gap-8px;
}