@import '#/_styles.scss';

.content {
    position      : relative;
    background    : $grey-0;
    height        : inherit;
    display       : flex;
    flex-direction: column;

    &__backing-panel {
        position: fixed;
        top     : 0;
        left    : 0;
        width   : 100%;
        height  : 100%;
    }

    &__toast {
        position  : absolute;
        bottom    : 0;
        width     : 100%;
        height    : 250px;
        transition: .2s;
        transform : translateY(100%);
        border    : 2px solid $grey-80;
        background: $white;

        &_active {
            transform: translateY(0);
        }
    }
}

.header {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    flex-shrink     : 0;
    height          : $tag-title-height;
    padding         : 0 $padding-16px;
    background-color: $white;
}

.title {}

.buttons {
    display: flex;
    gap    : $gap-8px;
}

.notes-cards-list {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap             : $gap-8px;
    padding              : $padding-8px;
    overflow             : auto;
    height               : inherit;

    @include scrollbar;

    &::-webkit-scrollbar-track {
        background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey-0;
        border          : 2px solid $white;
    }
}