@import '#/_styles.scss';

.tag {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : $padding-16px;
    background     : $grey-0;
    cursor         : pointer;

    &_selected {
        background: $grey-80;
        color     : $white;

        .tag__text {}

        .tag__right-part {}
    }

    &__text {
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
        cursor       : auto;
    }

    &__right-part {
        display    : flex;
        align-items: center;
        gap        : $gap-8px;
    }
}