@import '#/_styles.scss';

.container {
    display       : flex;
    flex-direction: column;
    gap           : $gap-4px;
    padding       : 20px;
}

.form {
    display       : flex;
    flex-direction: column;
    gap           : $gap-16px;
}

.title {
    padding    : $padding-8px;
    white-space: nowrap;
    width      : 130px;
}

.controls {
    display: flex;
    gap    : $gap-4px;
}

.tags {
    display: flex;
    gap    : $gap-4px;
}

.tags-limit {
    padding  : $padding-8px;
    font-size: $font-size-14px;
    color    : $red;
}