@import '#/_styles.scss';

.container {
    display       : flex;
    flex-direction: column;
    gap           : $gap-16px;
    padding       : 20px;
}

.title {
    padding    : $padding-8px;
    white-space: nowrap;
    width      : 130px;
}

.controls {
    display: flex;
    gap    : $gap-4px;
}

.selected-tag {
    background: $grey-80;
}

.tags {
    display: flex;
    gap    : $gap-4px;

    &__list {}
}